<html>
<header>

</header>
<body>

<div style="text-align: center">
  <h1>Secret Santa Generator</h1>
</div>

<br>
<br>

<div class="btn-group d-flex justify-content-center h-25 d-inline-block" >
  <a href="http://localhost:4200/login" class="btn btn-primary active" style="padding: 10px 5px 10px 5px; max-width: 100px"> Login </a>
</div>

<br>

<div class="btn-group d-flex justify-content-center h-25 d-inline-block" >
  <a href="http://localhost:4200/signup" class="btn btn-primary active" style="padding: 10px 5px 10px 5px; max-width: 100px"> Sign Up</a>
</div>

<!--<button type = "button" class="btn btn-primary"> <a href = "http://localhost:4200/login" target="_blank"> Log In </a> </button>-->


<router-outlet></router-outlet>
</body>
</html>
